/*====================================================
  Basic css reset
  ====================================================*/

html,
body {
  padding: 0;
  margin: 0;
}

/* Style for body */
body {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  font-size: 100%;
  color: #6c757d;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
}

/* styles and overwrites default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/*styles the labels for the input field*/
.label {
  display: block;
  margin-bottom: 5px;
}

/* sets style for the input fields*/
.input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #f4f4f4;
  width: 100%;
  height: 20px;
  padding: 10px 5px;
  font-size: 16px;
  outline: 0;
  transition: 0.3s;
}

.input:focus {
  border: 1px solid blue;
}

/*====================================================
    users Dashboard styles 
    ====================================================*/
/* style for drop down menu */
.dropicon {
  color: #35577a;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 80px;
  text-align: center;
}

/* style for dropdown icon on hover state */
.dropicon:hover {
  color: #fff;
  position: relative;
  background: #212d57;
}

/* Style for dropdown container */
.dropdown {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* Style for dropdown contents */
.dropdown-content {
  position: absolute;
  right: 8px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(26, 5, 5, 0.2);
  z-index: 2;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #ddd;
}

.allContent {
  width: 100%;
}
/* Styles the header */
.headerr {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 5px 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  min-width: 300px;
  overflow: inherit;
  z-index: 4;
}

.brand-container {
  color: #212d57;
  text-decoration: none;
}

.menu-icon {
  display: none;
}

.main-body {
  display: flex;
  min-height: calc(100vh - 59px);
  background-image: url("../img/laptop.jpg");
  background-repeat: repeat;
  margin: auto;
  z-index: 1;
}

/* Styles the side bar */
.sidebar {
  background: #f4f4f4;
  padding-top: 20px;
  min-width: 220px;
  border-right: 1px solid #212d57;
  font-weight: bold;
  margin-left: 0px;
}

body {
  font: 300 13px/1.6 Roboto, Helvetica, Arial;
  color: #444;
  position: relative;
  background: #448aff;
  height: 100vh;
  text-align: center;
  background-size: cover;
}
body:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

ul {
  list-style: none;
}

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  border: 0;
}

.profile-card {
  width: 450px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  top: 50%;
  transform: translateY(-50%);
}

.profile-card header {
  display: block;
  position: relative;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 30px 0 20px;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
}

.profile-card header:before {
  content: "";
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.profile-card header:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.profile-card header img {
  border-radius: 100%;
  overflow: hidden;
  width: 150px;
  /*border: 1px solid rgba(255,255,255,.5);*/
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.profile-card header h1 {
  font-weight: 150;
  font-size: 20px;
  color: #444;
  letter-spacing: 1px;
  text-align: left;
  margin: 0;
  padding-left: 8px;
  padding-top: 3px;
}
.profile-card header h2 {
  font-size: 32px;
  font-weight: 150;
  color: red;
  letter-spacing: -3px;
}
.profile-card header h2 {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

.profile-card .profile-bio {
  padding: 0 30px;
  text-align: center;
  color: #888;
}

.profile-card .profile-social-links {
  display: table;
  width: 70%;
  margin: 20px auto;
}

.profile-card .profile-social-links li {
  display: table-cell;
  width: 33.3333333333333333%;
}

.profile-card .profile-social-links li a {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0 10px;
  border-radius: 100%;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.profile-card .profile-social-links li a:hover {
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.profile-card .profile-social-links li a:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.profile-card .profile-social-links li a img {
  width: 100%;
  display: block;
}

/* Style for loan application tab */
.apply {
  background: #ffaf30;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: normal;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  margin: 0 10px 20px;
  text-align: center;
  transition: 0.2s;
  text-decoration: none;
}
.apply a {
  text-decoration: none;
  color: white;
}

/* Loan application tab on hover state */
.apply:hover {
  background: #212d57;
  color: white;
}
.parag {
  text-align: left;
  padding-left: 8px;
  padding-bottom: 0px;
}
.adm h1 {
  margin-top: 2px;
  color: blue;
}

/* Style for back tab on the loan application page,to return to dashboard */
.back {
  background: #ffaf30;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: normal;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  margin: 0 10px 20px;
  text-align: center;
  transition: 0.2s;
  text-decoration: none;
  border-radius: 3px;
}
.back a {
  text-decoration: none;
  color: white;
  width: 100%;
}

/* style for back tab on hover state */
.back:hover {
  background: #212d57;
  color: white;
}
a:hover {
  color: white;
}

/* user dashboard container */
.content-item {
  min-width: calc(95vw - 220px);
}

/* Styles the side bar */
.sidebar-icon {
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  text-align: left;
}

.unpaid {
  display: none;
}
.repaid {
  display: none;
}

/* style for loan repayments on admin dashboard */
.repayment {
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  color: black;
}

/* side bar tabs on hover state */
.repayment:hover,
.paid:hover,
.repay:hover,
.post:hover {
  background: #212d57;
  color: white;
}

/* side bar tabs on active state */
.repayment.active,
.paid.active,
.repay.active,
.post.active {
  background: #212d57;
  color: white;
}

/* style for post loan tab repayment on admin dashboard */
.post {
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  color: black;
}

/* style for current loans tab on admin dashboard */
.repay {
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  color: black;
}

/* style for repaid loans tab n admin dashboard */
.paid {
  margin-bottom: 20px;
  padding: 10px;
  color: black;
  cursor: pointer;
}

/* style for close icon */
.close {
  color: red;
  text-align: right;
  cursor: pointer;
  font-size: 20px;
}

.closePaid {
  color: red;
  text-align: right;
  cursor: pointer;
  font-size: 20px;
}

.time-received {
  width: 40%;
}

/* style for admin dashboard */
.main-loan-body {
  display: none;
  padding: 17px;
}

.compose-box {
  display: none;
  width: 100%;
}

/* styles and overwrites default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.input-container {
  margin-bottom: 25px;
}

.input:focus {
  border: 1px solid blue;
}

/*sets a style for the log in and sign in button*/
.button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.button:hover {
  background: rgb(0, 0, 255);
}

/* Style for reset password and logout link in user and admin dashboard */
.reset-password,
.signout {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

/* Style for loan user verification page */
.loan_container {
  width: 40%;
  padding: 20px;
  background: #f1f1f1;
  margin: 20px auto;
  border-radius: 10px;
  text-align: left;
}

.message_wrapper {
  width: 100%;
}

.message_wrapper ul {
  list-style-type: none;
  display: flex;
  width: 100%;
}

.message_wrapper ul li {
  list-style-type: none;
  display: inline-block;
  text-align: right;
  justify-content: space-between;
}

.message_wrapper_header {
  text-align: right;
  width: 90%;
  padding-top: 0px;
}

.cancel-message-wrapper {
  text-align: right;
  width: 10%;
}

/* style for cancel icon inuser verification tab */
.cancel-form {
  color: red;
  width: 10%;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 90%;
  justify-content: right;
}

/* style for modal box */
.modal-body {
  height: 100%;
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  z-index: 1;
}
.message-header {
  color: #35577a;
  text-align: left;
}

/* style for admin dashboard */
#admin-dashboard-section {
  margin-left: 3em;
  margin-right: 1em;
}

#admin-dashboard-section h1 {
  font-size: 1.5em;
  text-align: center;
}

/* style for admin profile on dashboard */
.account-details {
  width: 40vw;
  margin: 0.4em auto;
  color: #212d57;
  font-weight: normal;
  padding: 0.7em;
  border-radius: 10px;
  justify-content: space-between;
}
.acctt {
  text-align: center;
}
.clientloans {
  background-color: white;
  border-radius: 5px;
}
#notpaid {
  justify-content: right;
  border-radius: 3px;
}

#clientloanss {
  justify-content: right;
  border-radius: 3px;
}
.out {
  background-color: white;
}

#fulldetails {
  background-color: white;
  justify-content: right;
  border-radius: 3px;
}

#viewLoans {
  background-color: white;
  justify-content: right;
  border-radius: 3px;
}
/* style for post loan repayment */
.post-account-details {
  width: 40vw;
  margin: 0.4em auto;
  background: white;
  color: #35577a;
  font-weight: bolder;
  padding: 0.7em;
  border-radius: 0.5em;
}

/* style for loan repayment input field */
.post-account-details input {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid rgba(110, 108, 108, 0.5);
  background: rgba(223, 217, 217, 0.5);
  border-radius: 5px;
}

/* dashboard text content */
.account-details article {
  padding: 0.4em;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.3px solid;
  background-color: white;
}

.ref {
  border-bottom: 0px;
  background-color: teal;
}
.ref:hover {
  border-bottom: 0px;
  transition: 1s;
  opacity: 0.5;
  text-decoration: none;
}

.account-details a {
  text-decoration: none;
}
.account-details a button {
  width: 100%;
  padding: 0.6em 1.3em 0.6em 1.3em;
  background-color: teal;
  color: white;
}

/* style for view loan application tab */
.acctt {
  padding: 0.6em 1.3em 0.6em 1.3em;
  background-color: #212d57;
  color: white;
  text-align: center;
  display: block;
}
.acctt:hover {
  color: #dfe0e2;
  cursor: pointer;
}
.buttons {
  padding: 0.6em 1.3em 0.6em 1.3em;
}

.feedback-message-error {
  color: #dc3545;
  text-align: center;
  display: block;
  list-style-type: none;
}

.feedback-message-success {
  color: green;
  border: 0.9px solid green;
  display: block;
  border: none;
}

/* style for view loan application button */
.account-details button {
  margin-top: 1em;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5em 0 0.5em 0;
  width: 30%;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.6s;
  border-radius: 4px;
  background-color: #35577a;
}

.account-details button:hover {
  background: teal;
  color: white;
}

/* dashboard for repaid loans */
#dashboard-section {
  padding-top: 1em;
  margin-left: 0;
  margin-right: 1em;
  color: white;
  font-weight: bolder;
  width: 100%;
}

#account a {
  text-decoration: none;
}

#profile {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.card-img {
  object-fit: contain;
  height: 50%;
}

.container {
  text-align: center;
  background: #ffffffc2;
  color: black;
}
.details {
  flex-basis: 70%;
  margin-bottom: 1em;
}

/* Dashboard text style */
.details article {
  border-bottom: 1px solid #dfe0e2;

  display: flex;
  justify-content: space-between;
}

.details p {
  margin-top: 0.5em;
  font-size: 1.6em;
  margin-bottom: 0.5em;
  padding: 0.2em;
}
.loan_container input[type="text"],
.loan_container input[type="number"],
.loan_containerr input[type="password"],
.loan_container select[name="inst"],
.loan_container textarea {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid rgba(110, 108, 108, 0.5);
  background: rgba(223, 217, 217, 0.5);
  border-radius: 5px;
  transition: 1s;
  z-index: 1;
}

.loan_container select[name="inst"] {
  width: 98%;
}

.loan_container input[type="text"]:focus,
.loan_container input[type="password"]:focus,
textarea:focus {
  background-color: #ddd;
}

.loan-payment {
  display: none;
}

/* Style tag for loan form */
.create-loan-form {
  display: none;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.show-create-group-form {
  display: block;
}

/* style for verification form buttons */
.add-loan-btn {
  margin: 8px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: -1;
}

/* style for submit and cancel button in verification form */
.add-loan-button {
  background-color: #35577a;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 16px 20px;
  font-size: 15px;
  color: white;
  border-radius: 2px;
}

/* style for submit loan appliation */
.post-loan-btn {
  margin: 8px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: -1;
}

.post-loan-button {
  background-color: #35577a;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 16px 20px;
  font-size: 15px;
  color: white;
  margin: 0 auto;
  border-radius: 7px;
}

.post-loan-button:hover {
  opacity: 0.7;
  font-weight: bold;
}
.loan-payment {
  display: none;
}
h1 {
  color: white;
  font-weight: bold;
}

.add-loan-button:hover {
  background-color: #35617aa8;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.show-dropdown-content {
  display: block;
}

/* style for drop down content link */
.dropdown-content a {
  float: none;
  color: black;
  padding: 2px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* style for logo icon */
.logo-icon {
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropicon {
  margin-right: 15px;
}
/* style for admin profile on dashboard */
#profile {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.details {
  width: 100%;
}

.details p {
  font-size: 1.1em;
}

#account button {
  width: auto;
  height: 30%;
}

#account-form {
  width: 95%;
}
#account-modal {
  width: 98%;
}

#account-form button {
  width: 70%;
}

/* Dashboard Responsiveness */
@media only screen and (max-width: 680px) {
  body {
    width: 80%;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .main-body {
    margin: auto;
    min-width: 60%;
    flex-direction: column;
  }
  .loan-container {
    width: 92%;
    margin: 0;
    padding: 0;
  }
  .box {
    width: 20%;
    margin-right: 0;
    background-color: white;
  }
  .headerr {
    min-width: 60%;
  }
  .close {
    width: 90%;
  }
  .sidebar {
    display: none;
  }
  #dashboard-section {
    width: 100%;
  }

  .details article {
    min-width: 100%;
  }

  .logo-container {
    display: none;
  }

  .menu-icon {
    display: block;
    color: #35577a;
  }

  .show-sidebar {
    display: block;
  }

  .create-ln-form-modified {
    width: 70vw;
    margin: 20px;
  }

  .hearder {
    min-width: 400px;
  }

  /* style for submit and cancel butttons,loan application */
  .add-loan-button,
  .cancel-loan-btn {
    background-color: #35577a;
    border: none;
    cursor: pointer;
    width: 60%;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: white;
  }
  .account-details {
    width: 80vw;
    font-weight: 500;
  }
  .account-details {
    width: 90%;
  }
  .account-details button {
    font-size: 0.9em;
    width: 43%;
    padding: 0.7em 0.3em 0.7em 0.3em;
  }

  .account-details a {
    width: 43%;
  }

  .account-details a button {
    padding: 0.7em 1em 0.7em 1em;
  }

  /* style for admin dashboard */
  #admin-dashboard-section {
    margin-left: 3em;
    margin-right: 1em;
    min-width: 300px;
  }

  /* style for user verification submit button */
  .add-loan-btn {
    margin: 8px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    z-index: -1;
  }

  /* style for  loan application cancel button */
  .post-loan-btn {
    margin: 8px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    z-index: -1;
  }

  /* style for loan application submit button */
  .post-loan-button {
    min-width: 40%;
    text-align: center;
    font-size: 10px;
  }

  /* style for cancel button,user verification */
  .pst-loan-btn {
    min-width: 40%;
    text-align: center;
    font-size: 10px;
  }

  /* style for user verification form buttons */
  .add-loan-btn {
    min-width: 30%;
  }

  /* Profile card */

  body {
    font: 300 13px/1.6 Roboto, Helvetica, Arial;
    color: #444;
    position: relative;
    background: #448aff;
    height: 100vh;
    text-align: center;
    background-size: cover;
  }
  body:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  ul {
    list-style: none;
  }

  img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    border: 0;
  }

  .profile-card {
    width: 300px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    margin: auto;
    margin-top: 400px;
    background: rgba(255, 255, 255, 1);
    top: 50%;
    transform: translateY(-50%);
  }

  .profile-card header {
    display: block;
    position: relative;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 30px 0 20px;
    z-index: 1;
    overflow: hidden;
  }

  .profile-card header:before {
    content: "";
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .profile-card header:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .profile-card header img {
    border-radius: 100%;
    overflow: hidden;
    width: 150px;
    /*border: 1px solid rgba(255,255,255,.5);*/
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .profile-card header h1 {
    font-weight: 200;
    font-size: 42px;
    color: #444;
    letter-spacing: -3px;
    margin: 0;
    padding: 0;
  }

  .profile-card header h2 {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
  }

  .profile-card .profile-bio {
    padding: 0 30px;
    text-align: center;
    color: #888;
  }

  .profile-card .profile-social-links {
    display: table;
    width: 70%;
    margin: 20px auto;
  }

  .profile-card .profile-social-links li {
    display: table-cell;
    width: 33.3333333333333333%;
  }

  .profile-card .profile-social-links li a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    border-radius: 100%;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
  .profile-card .profile-social-links li a:hover {
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12),
      0 1px 1px 0 rgba(0, 0, 0, 0.24);
  }

  .profile-card .profile-social-links li a:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }

  .profile-card .profile-social-links li a img {
    width: 100%;
    display: block;
  }

  /* style for submit button,user verification */
  .add-loan-button {
    text-align: center;
    width: 60px;
    font-size: 10px;
  }

  /* style for cancel button,user verification form */
  .cancel-loan-btn {
    text-align: center;
    width: 60px;
    font-size: 10px;
  }
}
